/cache
/characters
/css
/extensions
/grammars
/installer_files
/logs
/loras
/models
/presets
/prompts
/repositories
/softprompts
/torch-dumps
/training/datasets

/CMD_FLAGS.txt
/img_bot*
/img_me*
/models/config-user.yaml
/notification.mp3
/settings*.json
/settings*.yaml

.chroma
.DS_Store
.eslintrc.js
.idea
.venv
venv
.envrc
.direnv
.vs
.vscode
*.bak
*.ipynb
*.log
.*.swp
*pycache*
cert.pem
key.pem
package.json
package-lock.json
Thumbs.db
wandb

# ignore user docker config and top level links to docker files
/docker-compose.yaml
/docker-compose.yml
/Dockerfile
.env
*.pstats

output.prof
instruction-templates/a-chat.yaml
instruction-templates/Kayla.yaml
instruction-templates/Martine-instruct.yaml
instruction-templates/Mia Instruct.yaml
instruction-templates/Mia-instruct.yaml
instruction-templates/Mia-new.yaml
instruction-templates/Mia-test-instruct.yaml
instruction-templates/Mia-test.yaml
instruction-templates/Mis-test.yaml
instruction-templates/Sindy Pair Programmer.yaml
instruction-templates/Sindy-code-instruct.yaml
instruction-templates/Tabitha-Instruct-new.yaml
instruction-templates/Tabitha-instruct.yaml
instruction-templates/Tabitha.yaml
instruction-templates/MiquMaid v2 DPO.yaml
instruction-templates/Kirsten-instruct.yaml
instruction-templates/Kirsten_Instruct.yaml
