cache
characters
training/datasets
extensions/character_bias/bias_options.txt
extensions/elevenlabs_tts/outputs
extensions/multimodal/pipelines
extensions/sd_api_pictures/outputs
extensions/silero_tts/outputs
logs
loras
models
presets
repositories
softprompts
torch-dumps
*pycache*
*/*pycache*
*/*/pycache*
venv/
.venv/
.vscode
.idea/
*.bak
*.ipynb
*.log
*.mp3

settings.json
settings.yaml
img_bot*
img_me*
prompts/[0-9]*
models/config-user.yaml

.DS_Store
Thumbs.db

*.swp
.*.un~
*.prof

# Coming soon
.env.local
oobstart
oobainst