accelerate==0.21.0
colorama
ctransformers
datasets
einops
fastapi==0.100.0
flexgen==0.1.7
gradio_client==0.2.10
gradio==3.38.0
markdown
numpy
pandas
Pillow>=9.5.0:wandb
pyyaml
requests
safetensors==0.3.1
sentencepiece
scipy
tensorboard
transformers==4.31.*
tqdm
# auto_gptq

# PEFT
git+https://github.com/huggingface/peft@03eb378eb914fbee709ff7c86ba5b1d033b89524
bitsandbytes==0.41.0
# GGML/GGUF and llama.cpp Python API
gguf
llama-cpp-python==0.2.6
